<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Picasso.html</welcome-file>
  </welcome-file-list>

  <security-constraint>
    <web-resource-collection>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>

  <!-- Servlets -->
  <servlet>
    <servlet-name>mapsDataServlet</servlet-name>
    <servlet-class>by.bsuir.picasso.server.MapsDataServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>by.bsuir.picasso.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>mapsDataServlet</servlet-name>
    <url-pattern>/picasso/maps</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/picasso/login</url-pattern>
  </servlet-mapping>

</web-app>
